#RootFrame {
	min-height: 480px;
	max-width: 1024px;
	min-width: 320px;
}

#Main {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 30px;
	padding-top: 30px;
	adding-bottom: 100px;
}

.Titles {
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 32px;
	font-family: Helvetica;
	font-weight: bold;
}

.SubTitles {
	color: blue;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 24px;
	font-family: Helvetica;
	font-weight: bold;
}

.Contents {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 20px;
	font-family: Helvetica;

}

.Importants {
	color: #ffcc00;
	font-size: 20px;
	font-family: Helvetica;
}

.Warnings {
	color: #cc3300;
	font-size: 20px;
	font-family: Helvetica;
}