<html>
<head>
<title>AITS:App Income Trust Service</title>
  
<link type="text/css" rel="stylesheet" href="/stylesheets/home.css" />
</head>

<body>
<div id="RootFrame">

<div id="Main">
<span class="Titles">Log in</span>
<br>
{% if errorMessage %}
<br>
<span class="Warings">{{ errorMessage }}</span>
<br>
{% endif %}
<form action="/" method='post'>
<br>
<span class="SubTitles">ID:</span>
<br>
<input type="text" name="userID" class="SubTitles" value="{{ userID }}"></>
<br>
<span class="SubTitles">Passwrod:</span>
<br>
<input type="text" name="userPWD" class="SubTitles"></>
<br>
<br>
<input type="submit" class="Titles"></> <span class="Contents"><a href="">Forget Password?</a><span/>
</form>
</div>

</div>

</div>
</body>
</html>